@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #E02C6D;
}


body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 30px;
}
nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--primary-color);
    font-size: 21px;
}
.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin-right: 20px;
}

li>a{
    text-decoration: none;
    color: var(--primary-color);
}
main{
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 30px;
}
.home{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-right: 20px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 80px;
}
.home-left>p{
    font-size: 18px;
    margin: 20px 0;
}

.home-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50px;
    overflow: hidden
    ;
}
.home-right img{
    width: 90%;
}
.home-right:hover {
    transform: scale(1.3);
    transition: transform 1s ease-out;


}
.bttn{
    padding: 10px 25px;
    border: none;
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
}
.bttn span{
    margin-left: 7px;
}

.box{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-left-color: #fff;
    border-right-color: #fff;
    box-shadow: 10px 10px 20px rgba(63, 57, 57, 0.5);
}
.box a{
    list-style: none;
    margin: 30px;
}

.box img:hover {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
.collection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection>h2{
    font-size: 50px;
    text-align: center;
    margin: 20px auto;
    color: var(--primary-color);
}

.items{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    
}
.card{
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 450px;

}
.item-name{
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 900
}
.price{
    font-size: 20px;
    font-weight: 600;
}
.ratings i{
    margin: 10px 0;
    font-size: 12px;
    color: orange;
    
}
.ratings span{
    margin-left: 13px;
}
.details{
    margin: 5px 0;
    width: 70%;
    font-size: 13px;
    
}

#more{
    position: relative;
    bottom: 0;
    right: -480px;
    left: 490px;
    color: var(--primary-color);
    padding: 20px;
}

#more>a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


/* Contact-section */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 40px auto;
  }
  
  .contact-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 7px var(--primary-color);

  }
  .contact-info>a{
      text-decoration: none;
      color: black;
  }
  
  .contact-subtitle{
    font-size: 22px;
    color: var(--primary-color);
  }

  .contact-text{
    display: inline-block;
    margin-bottom: 30px;
  }


  .contact-input{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-color);
    margin-bottom: 10px;
    
  }
  .contact-button{
    display: block;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: auto;
  }
  
  /* Footer-section */

.footer{
    background-color: var(--primary-color);
    height: 200px;
    display: flex;
    flex-direction: column;


}
.footer-text>a{
    color: white;
    margin-right: 15px;
    font-size: 20px;

}
.footer-text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}   




/* -------------Responsive----------- */
/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
   
    main{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .logo{
        font-size: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .home{
        margin: 100px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 20px;

        /* float: left; */

    }
    .home-right{
        width: 100%;
        position: relative;
        bottom: -170px;
    }

    .ecommerce{
        position: relative;
        top: 300px;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border-left-color: #fff;
        border-right-color: #fff;
        box-shadow: 10px 10px 20px rgba(63, 57, 57, 0.5);
    }
    .box a{
        list-style: none;
        margin: 30px;
    }
    

    .collection{
        position: relative;
        top: 300px;
    }

    .items{
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content:center;
        align-items: center;
        
    }
    #more{
        position: relative;
        left: 0;
        margin-bottom: 30px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 300px;
    }
    
    .contact-container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin:  20px auto;
      }
     .contact-left{
         padding: 30px;
     } 
     .footer{
        position: relative;
        top: 300px;
        width: 100%;
    
    
    }



 
}


/* Medium devices (tablets, 688px and up) */
@media only screen and (min-width: 688px) and (max-width: 1200px)  {

    main{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .logo{
        font-size: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .home{
        margin: 100px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 20px;
    }

    .home-right{
        width: 80%;
        position: relative;
        bottom: -170px;
    }

    .ecommerce{
        position: relative;
        top: 300px;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border-left-color: #fff;
        border-right-color: #fff;
        box-shadow: 10px 10px 20px rgba(63, 57, 57, 0.5);
    }
    .box a{
        list-style: none;
        margin: 30px;
    }
    

    .collection{
        position: relative;
        top: 300px;
    }

    .items{
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content:center;
        align-items: center;
        
    }
    .card{
        width: 300px;
    }
    #more{
        position: relative;
        left: 0;
        margin-bottom: 30px;

    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 300px;
    }
    
    .contact-container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin:  20px auto;
      }
     .contact-left{
         padding: 30px;
     } 
     .footer{
        position: relative;
        top: 300px;
        width: 100%;
    
    
    }
}

